.pulsante{
  display: inline-block;
}

.rettangolo{
  width: 500px;
  height: 30px;
  background-color: orange;

}

.rettangolo2{
  width: 800px;
  height: 30px;
  background-color: green;
}

.rettangolo3{
  width: 250px;
  height: 30px;
  background-color: blue;
}

.centro{
  margin-left: 400px;
}
